<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Stream-Android-TestFlight-Server</display-name>
	<servlet>
		<description>
		</description>
		<display-name>UpdateRelease</display-name>
		<servlet-name>UpdateRelease</servlet-name>
		<servlet-class>com.waveface.android.testflighter.UpdateRelease</servlet-class>
		<init-param>
            <param-name>storedPath</param-name>
            <param-value>/Users/jason/work/projects/wammer/testflight_configurations</param-value>
        </init-param>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetInstallers</display-name>
		<servlet-name>GetInstallers</servlet-name>
		<servlet-class>com.waveface.android.testflighter.GetInstallers</servlet-class>
		<init-param>
            <param-name>storedPath</param-name>
            <param-value>/Users/jason/work/projects/wammer/testflight_configurations</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DownloadAPK</display-name>
		<servlet-name>DownloadAPK</servlet-name>
		<servlet-class>com.waveface.android.testflighter.DownloadAPK</servlet-class>
		<init-param>
            <param-name>apkPath</param-name>
            <param-value>/Users/jason/work/projects/wammer/testflight_configurations</param-value>
        </init-param>	
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateRelease</servlet-name>
		<url-pattern>/UpdateRelease</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetInstallers</servlet-name>
		<url-pattern>/GetInstallers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadAPK</servlet-name>
		<url-pattern>/DownloadAPK</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
